<% layout("layouts/boilerplate") %>
<body>
    <h2>All the Listings of this category<%=listing.category%></h2>
    <% for( let list of listing){%>
            <div class="card col listing-card" style="width: 20rem; ">
                <img src="<%= list.image.url %>" class="card-img-top" style="height:20rem;" >
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= list.title %> <br></b>
                    &#8377; <%= list.price %> / night
                    </p>
                </div>
              </div>
   <% }%>
</body>
